---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1450272808.145'
      Api-Request-Signature:
      - XC55eFhki4SFPmkt0nZleNUiCUX91VfyeZKgjb/auVw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"D7D6B77D7A1D17E6060E36E23DA13C45","publicKey":"QIz6bjhmAyXiatD8DppsDIHmJQK4MBLc","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1450272814","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:33:30 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/ResidentInformation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - QIz6bjhmAyXiatD8DppsDIHmJQK4MBLc
      Api-Request-Date:
      - '1450272810.115'
      Api-Request-Signature:
      - Ru3QLyr79HWV1+Yj/+acAtdxUTGzbrq/+XHSJAOhqYI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"residentInfo":{"line1":"Earth","city":"Uryupinsk","state":"Immutable","zip":"000000","countryCode":""},"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:33:31 GMT
recorded_with: VCR 2.9.3
