---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1450273035.679'
      Api-Request-Signature:
      - FuvwYDm+QtQoCkMO6+WekwBJeVj05LFfrNdPl+yBHss=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"DF881878AC4645097BD4E04549161FAE","publicKey":"Mus12vjn4THEY42HOjudIJxDiWYOJMiM","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1450273040","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:37:16 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/DocumentInformation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Mus12vjn4THEY42HOjudIJxDiWYOJMiM
      Api-Request-Date:
      - '1450273036.578'
      Api-Request-Signature:
      - Ucpvy7T+P/WuEQgh4CDO39qF4z8g1KRuTEW/xLO4T18=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"idStatus":"Present","proofStatus":"Present","responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:37:18 GMT
recorded_with: VCR 2.9.3
