---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/RegisterUser
    body:
      encoding: UTF-8
      string: '{"Email":"alerticus+gatecoin.test@gmail.com","Password":"123123123","IsCorporateAccount":false,"language":"en","ReferralCode":"VIUNSL"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1447756071.951'
      Api-Request-Signature:
      - IL+TydpSnXXsE7MwhaduA5/tYwbgCDe8WOIBbBecmlU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"D645422FAB05830D2AE31569F78FE085","publicKey":"EoDwBHz1wWZlgiR51Us7p0Ilkx9p9K8M","alias":"IVI871","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1447756076","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Tue, 17 Nov 2015 10:27:56 GMT
recorded_with: VCR 2.9.3
