---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1450275201.129'
      Api-Request-Signature:
      - uL0FvY+EHvts1tfZx6pdlBvqvQSquacK7rkdeA4G4Io=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"2A290F734EE2BEC2BF8B1BC94DFCBB31","publicKey":"v0WumxsYFIg8KJV3lpGSdO6NfhU8SRXP","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1450275216","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 14:13:33 GMT
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Account/Questionnaire
    body:
      encoding: UTF-8
      string: '{"Answer001":true,"Answer011":"<1000","Answer014":"Gift from Santa"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - v0WumxsYFIg8KJV3lpGSdO6NfhU8SRXP
      Api-Request-Date:
      - '1450275213.31'
      Api-Request-Signature:
      - E/OSHE0QSIKF/GGtwZMmVZTdEGB/4284BfDFaIyoLrI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 14:13:40 GMT
recorded_with: VCR 2.9.3
