---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1450275251.882'
      Api-Request-Signature:
      - iIqI0GWv4sjpZSbEbpRmNMawFyUNE4ehJ6i8E/o0yQM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"8E9F78DDC7D9FC58B3988DB28B2D1061","publicKey":"A3AE1Bs8NeISQSA8lZgmLEZQ4joeNtfX","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":3,"userHasUnreadTickets":false,"lastLogonTime":"1450275257","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 14:14:13 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/Questionnaire
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - A3AE1Bs8NeISQSA8lZgmLEZQ4joeNtfX
      Api-Request-Date:
      - '1450275253.773'
      Api-Request-Signature:
      - IGr8CNk7PuzSLvb60faljuVW9v3Lp9wLTWCpa+C5a48=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"questionnaireStatus":"Present","responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 14:14:14 GMT
recorded_with: VCR 2.9.3
