---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1454005467.757'
      Api-Request-Signature:
      - WbarV0WF0mzkAGeubUN5uVLGCj8SpODb1XJiSKnh/qs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"5A8FE38D1E6B6639DD90C98CEF2DDF15","publicKey":"6Wl46dITOGgU5DKD2ccIQ3rnkxAs9E9l","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":3,"userHasUnreadTickets":false,"lastLogonTime":"1454005472","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Thu, 28 Jan 2016 18:24:29 GMT
- request:
    method: put
    uri: https://staging.gatecoin.com/api/Account/User
    body:
      encoding: UTF-8
      string: '{"GivenName":"GivenName","FamilyName":"FamilyName","Birthday":674784000,"Citiznship":"AX","Line1":"Earth","City":"Uryupinsk","State":"Immutable","ZIP":"000000","CountryCode":"RU","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - 6Wl46dITOGgU5DKD2ccIQ3rnkxAs9E9l
      Api-Request-Date:
      - '1454005469.538'
      Api-Request-Signature:
      - jYj/DvvlPDdJ7L++y/YZqylBvlXwpqV2384NPziGP0Y=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"responseStatus":{"message":"OK"}}'
  recorded_at: Thu, 28 Jan 2016 18:24:31 GMT
recorded_with: VCR 3.0.1
