---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1453927804.971'
      Api-Request-Signature:
      - wF04q2rvHHKV78dpYaRoQgjiZGqUWxCbeof4maNdQWw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"2FC6668DE326AA9D614C3ECF9282FC51","publicKey":"WTNNaxS7K85mNfQYpFaiQEItLgZTAYno","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":3,"userHasUnreadTickets":false,"lastLogonTime":"1453927806","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 27 Jan 2016 20:50:05 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/User
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - WTNNaxS7K85mNfQYpFaiQEItLgZTAYno
      Api-Request-Date:
      - '1453927805.712'
      Api-Request-Signature:
      - DON0supEq5/kKc1cFNpMRVCWHwsdRSB/iP2sOhx51kk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"userId":"IVI871","familyName":"FamilyName","givenName":"GivenName","alias":"GivenName","line1":"Earth","city":"Uryupinsk","state":"Immutable","countryCode":"RU","zip":"000000","citizenship":"AX","idType":0,"idTypeDesc":"---","currentStatus":0,"currentStatusDesc":"---","sourceOfIncome":0,"sourceOfIncomeDesc":"---","natureOfBusiness":0,"natureOfBusinessDesc":"---","totalAnnualIncome":0,"totalAnnualIncomeDesc":"---","liquidNetWorth":0,"liquidNetWorthDesc":"---","totalNetWorth":0,"totalNetWorthDesc":"---"},"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 27 Jan 2016 20:50:07 GMT
recorded_with: VCR 3.0.1
