---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1449326032.293'
      Api-Request-Signature:
      - Ur/eqcyRS/4ojtAKHvICQFDvI7TZ3pERYzllrYFfQig=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"E8FAF9CA4F6DF0B8EDC1AEC2C2CD4330","publicKey":"7kCIsEJfWULg0U4nXuNADCMe1Gl9MEoK","alias":"IVI871","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1449326039","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Sat, 05 Dec 2015 14:33:53 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/DocumentID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - 7kCIsEJfWULg0U4nXuNADCMe1Gl9MEoK
      Api-Request-Date:
      - '1449326033.199'
      Api-Request-Signature:
      - b3P55nkl0rx46gnbhQLiOz76+vn9yj8PJoc3fEGs4XQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Present","responseStatus":{"message":"OK"}}'
  recorded_at: Sat, 05 Dec 2015 14:33:53 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/DocumentAddress
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - 7kCIsEJfWULg0U4nXuNADCMe1Gl9MEoK
      Api-Request-Date:
      - '1449326033.938'
      Api-Request-Signature:
      - tO9h2dSRDb31XIJyUb6i5YbZISDStIRfT7Fwv9py2T0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Present","responseStatus":{"message":"OK"}}'
  recorded_at: Sat, 05 Dec 2015 14:33:55 GMT
recorded_with: VCR 2.9.3
