---
http_interactions:
- request:
    method: put
    uri: https://staging.gatecoin.com/api/Merchant/Gateway
    body:
      encoding: UTF-8
      string: '{"Webhook":"http://127.0.0.1/test","ExpirySecond":1800}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - YQqrQFHk6UcLYCkz4HTmaJTMKH0VWgCA
      Api-Request-Date:
      - '1448456869.968'
      Api-Request-Signature:
      - QEeR6pTtO1dE4KK1qQEweOXvnlRewi+RLxHpAt873Og=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 25 Nov 2015 13:07:51 GMT
recorded_with: VCR 2.9.3
