---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1448018978.326'
      Api-Request-Signature:
      - yBUB3nmSA47awxQSlmW2+nuVf8SVgPaqVouNpI9PyXU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"5B10460808B26D170B83AE2982B47F11","publicKey":"jsuhiFsS05xqSk3pMH2HzqlgXXPWm9Um","alias":"IVI871","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1448018985","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Fri, 20 Nov 2015 11:29:40 GMT
recorded_with: VCR 2.9.3
