---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Bank/UserAccounts
    body:
      encoding: UTF-8
      string: '{"BankName":"TestBank","Label":"Test","AccountNumber":"AT131490022010010999","Currency":"USD","HolderName":"Tester","City":"Vienna","CountryCode":"AT","Password":"GtcP@ssw0rd"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1448300231.426'
      Api-Request-Signature:
      - YjosxARIaflpzyNylQIDe404A71v69jySeRz0Bjq1QQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"responseStatus":{"message":"OK"}}'
  recorded_at: Mon, 23 Nov 2015 17:37:14 GMT
recorded_with: VCR 2.9.3
