---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1453927803.546'
      Api-Request-Signature:
      - oXxWGmsWslmyDliHlmP9X7dYFdVSQTHGThx/41tkn6g=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"8A6452061865A7CE4690617509653AEF","publicKey":"kz7oNq4N9qc2WRaxt61ER0X1z3ZfzVIx","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":3,"userHasUnreadTickets":false,"lastLogonTime":"1453927804","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 27 Jan 2016 20:50:04 GMT
- request:
    method: put
    uri: https://staging.gatecoin.com/api/Account/User
    body:
      encoding: UTF-8
      string: '{"GivenName":"GivenName","FamilyName":"FamilyName","Birthday":674784000,"Citiznship":"AX","Line1":"Earth","City":"Uryupinsk","State":"Immutable","ZIP":"000000","CountryCode":"RU","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - kz7oNq4N9qc2WRaxt61ER0X1z3ZfzVIx
      Api-Request-Date:
      - '1453927804.246'
      Api-Request-Signature:
      - 71G6LwClylfY1r61APNrLNjSY6OMN0nEcN3d1BjOcM8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 27 Jan 2016 20:50:04 GMT
recorded_with: VCR 3.0.1
