---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1450272290.581'
      Api-Request-Signature:
      - 8v2HMvOXEpIE7iPgwqTuk2sGf3BUL47sWVcYlPOJRO8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"C44DE5D78B918FAB7812383FAA4023BE","publicKey":"aWnqhtzZG9Kc9yiUynHEfuyEQWVUI2tb","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1450272297","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:24:53 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/PersonalInformation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - aWnqhtzZG9Kc9yiUynHEfuyEQWVUI2tb
      Api-Request-Date:
      - '1450272293.484'
      Api-Request-Signature:
      - z/5a59tmCjyd7/J8FmkqoSkeq8LtUCE1lxftzgPzK+E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"personalInfo":{"givenName":"GivenName","familyName":"FamilyName","nationality":"AL"},"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:24:55 GMT
recorded_with: VCR 2.9.3
