---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Merchant/Payment/Quote
    body:
      encoding: UTF-8
      string: '{"CurrencyTo":"USD","Amount":2.5,"IsAmountInCurrencyFrom":false,"Reference":"hashed_order_id_1"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - YQqrQFHk6UcLYCkz4HTmaJTMKH0VWgCA
      Api-Request-Date:
      - '1448542266.636'
      Api-Request-Signature:
      - qsw31OwzpBO4jmTVrBIAER1QOQtUFKRJaIBKjA32KWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"address":"mhdyqC2VEEsa6ekqNRX2Mhb1g9oPtMZFJa","price":0.00358165,"amount":0.008954125,"txID":"a3f0b2c3-2c4a-4751-a03a-1ad903622e44","responseStatus":{"message":"OK"}}'
  recorded_at: Thu, 26 Nov 2015 12:51:08 GMT
recorded_with: VCR 2.9.3
