---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1450272633.833'
      Api-Request-Signature:
      - jXZQDS8bku7lKRxJviikdvPZkn+Bt7vJ5Rr5YBv1Eco=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"C591CFB631528700656F8D7482EE72A4","publicKey":"Mdw8NmWjR6teaRsGEpzUDAEQyTKuHPrN","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1450272639","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:30:35 GMT
- request:
    method: put
    uri: https://staging.gatecoin.com/api/Account/ResidentInformation
    body:
      encoding: UTF-8
      string: '{"Line1":"Earth","City":"Uryupinsk","State":"Immutable","ZIP":"000000"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Mdw8NmWjR6teaRsGEpzUDAEQyTKuHPrN
      Api-Request-Date:
      - '1450272635.879'
      Api-Request-Signature:
      - MSLLhr1JycdOFCReaw7l5R++LkdUhmKSUUEW652bVLU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:30:37 GMT
recorded_with: VCR 2.9.3
