---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1450272212.975'
      Api-Request-Signature:
      - THvHrb9eDrmBF/Qo/FPYQu1nHXlrAjzXZ+K7VaKPc+Y=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"302586EAB921B88AD44C179C0B260F07","publicKey":"fzeQxIQrdHNxV1C3CgV0eKTs5MaY8b5K","alias":"IVI871","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1450272219","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:23:34 GMT
- request:
    method: put
    uri: https://staging.gatecoin.com/api/Account/PersonalInformation
    body:
      encoding: UTF-8
      string: '{"GivenName":"GivenName","FamilyName":"FamilyName","Birthday":674773200,"Nationality":"AL"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - fzeQxIQrdHNxV1C3CgV0eKTs5MaY8b5K
      Api-Request-Date:
      - '1450272214.953'
      Api-Request-Signature:
      - AHYLkVYcvtGynAn5Sfss1I5mLFWqec53iKFmLpksItw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 16 Dec 2015 13:23:37 GMT
recorded_with: VCR 2.9.3
