---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1454005471.388'
      Api-Request-Signature:
      - S4G9EIBhPff5kVkBGrJVQ0BxR1zv0qpjJjQubxMtnak=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"2B00B58F79DA6E8ABE7A9EA3B96E6BC5","publicKey":"pEYJbiJHwEENSq04A2y1Z2HcF8TINpUj","alias":"GivenName","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":3,"userHasUnreadTickets":false,"lastLogonTime":"1454005476","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Thu, 28 Jan 2016 18:24:33 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/User
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - pEYJbiJHwEENSq04A2y1Z2HcF8TINpUj
      Api-Request-Date:
      - '1454005473.19'
      Api-Request-Signature:
      - Yloxz8tGNnPqv24BXKMTkuCWgPbXn5ZFQ5HBhln6QPg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"userId":"IVI871","familyName":"FamilyName","givenName":"GivenName","alias":"GivenName","line1":"Earth","city":"Uryupinsk","state":"Immutable","countryCode":"RU","zip":"000000","citizenship":"AX","idType":0,"idTypeDesc":"---","currentStatus":0,"currentStatusDesc":"---","sourceOfIncome":0,"sourceOfIncomeDesc":"---","natureOfBusiness":0,"natureOfBusinessDesc":"---","totalAnnualIncome":0,"totalAnnualIncomeDesc":"---","liquidNetWorth":0,"liquidNetWorthDesc":"---","totalNetWorth":0,"totalNetWorthDesc":"---"},"responseStatus":{"message":"OK"}}'
  recorded_at: Thu, 28 Jan 2016 18:24:35 GMT
recorded_with: VCR 3.0.1
