---
http_interactions:
- request:
    method: post
    uri: https://staging.gatecoin.com/api/Auth/Login
    body:
      encoding: UTF-8
      string: '{"UserName":"alerticus+gatecoin.test@gmail.com","Password":"123123123"}'
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1449683099.412'
      Api-Request-Signature:
      - HHEXnDnSGS4VgRR3Qr9+fRYxETiA7/JvEOq2zUn8Bzg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"isSuccess":true,"apiKey":"DD024823EC6901D2F14F77E4B28F6759","publicKey":"hteunTLC5XT1lyTqxWFQXmquhSOxCPDH","alias":"IVI871","defaultCurrency":"BTCUSD","defaultLanguage":"en","verifLevel":1,"userHasUnreadTickets":false,"lastLogonTime":"1449683106","isPendingUnlockSecret":false,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 09 Dec 2015 17:45:00 GMT
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Account/Level
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - hteunTLC5XT1lyTqxWFQXmquhSOxCPDH
      Api-Request-Date:
      - '1449683100.601'
      Api-Request-Signature:
      - LzqMzTw/+M2683IfImSJHB338koJKsiI//3NRsG4lZc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"level":1,"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 09 Dec 2015 17:45:01 GMT
recorded_with: VCR 2.9.3
