---
http_interactions:
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Bank/UserAccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - Bc8X6lIxZdPnYJNfatPpLiX1oDwxNOvt
      Api-Request-Date:
      - '1449326319.371'
      Api-Request-Signature:
      - We5KqwPokbMn3XHKPlhnCYIAxyvASSGmhskGmbNcbLg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"withdrawalLimits":[{"currency":"USD","limit":100000.00000000,"minimum":100.00000000}],"totalWithdrawns":[{"currency":"USD","total":0}],"accounts":[{"bankName":"TestBank","label":"Test","accountNumber":"AT131490022010010999","currency":"USD","holderName":"Tester","city":"Vienna","country":"AT"}],"responseStatus":{"message":"OK"}}'
  recorded_at: Sat, 05 Dec 2015 14:38:41 GMT
recorded_with: VCR 2.9.3
