---
http_interactions:
- request:
    method: get
    uri: https://staging.gatecoin.com/api/Merchant/Gateway
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Public-Key:
      - YQqrQFHk6UcLYCkz4HTmaJTMKH0VWgCA
      Api-Request-Date:
      - '1448456871.734'
      Api-Request-Signature:
      - 13jEjgGL7M/GbRxce6IQrieks2vnI9klKnjz7sng2Wc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"gateways":[{"label":"Payment","minConfirmation":6,"expirySecond":1800,"webhook":"http://127.0.0.1/test"}],"responseStatus":{"message":"OK"}}'
  recorded_at: Wed, 25 Nov 2015 13:07:53 GMT
recorded_with: VCR 2.9.3
